@page "/bnb-room" 

<div class="row mt-4">
    <div class="col-8">
        <h4 class="card-title text-info">B&ampB kamers</h4>
    </div>
    <div class="col-3 offset-1">
        <NavLink href="bnb-room/creëer" class="btn btn-info form-control">Voeg kamer toe</NavLink>
    </div>
</div>

@code {

}
