@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>

<div class="row mb-5">
    <div class="col-sm-4 text-center abc">
        <!-- Default form login -->
        <form id="account" method="post">
            <p class="h4 mb-4 text-left">Log in als admin om verder te gaan</p>
            <p class="text-left">Enkele admins zijn bevoegd om B&B's te creëren en aan te passen</p>

            <div asp-validation-summary="All" class="text-danger"></div>
            <!-- Email -->
            <div class="form-group">
                <label asp-for="Input.Email">E-mail</label>
                <input asp-for="Input.Email" class="form-control mb-4" id="defaultLoginFormEmail" placeholder="Typ hier uw emailadres" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <!-- Password -->
            <div class="form-group">
                <label asp-for="Input.Password" class="in">Paswoord</label>
                <input asp-for="Input.Password" class="form-control" id="defaultLoginFormPassword" placeholder="Typ hier uw paswoord" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <!-- Remember me -->
            <div class="d-flex justify-content-left">
                <div class="custom-control custom-checkbox text-left">
                    <label asp-for="Input.RememberMe" for="defaultLoginFormRemember">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                        logingegevens onthouden?
                    </label>
                </div>
            </div>
            <!-- Sign in button -->
            <div class="form-group">
                <button type="submit" class="btn-admin btn-info btn-block ">Log in</button>
            </div>
        </form>
    </div>
    <div class="col-sm-8 xyz text-center" style="background-image: url(../../../../../images/BedBreakfast2.jpg)">
        <h1 class="account-text">Welkom op de B&ampB Admin pagina!</h1>
        <h3 class="account-description">Doe hier het volledig beheer van de B&B's</h3>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
